<div class="footer">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" size="small" [routerLink]="['/tabs/impressum']" routerDirection="root" routerLinkActive="active-link">
        Impressum
      </ion-button>
      <ion-button fill="clear" size="small" [routerLink]="['/tabs/datenschutz']" routerDirection="root" routerLinkActive="active-link">
        Datenschutz
      </ion-button>
    </ion-buttons>
    <ion-title>
      © Michelle Weber 2023
    </ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" size="small" href="https://www.instagram.com/m.m.weber_books/" target="_blank">
        <ion-icon name="logo-instagram" aria-label="Instagram" size="small"></ion-icon>
      </ion-button>
      <ion-button fill="clear" size="small" href="https://www.facebook.com/profile.php?id=100081041916550" target="_blank">
        <ion-icon name="logo-facebook" aria-label="Facebook" size="small"></ion-icon>
      </ion-button>
      <ion-button fill="clear" size="small" href="https://www.tiktok.com/@m.m.weber?_t=8jckgO2B9mK&_r=1" target="_blank">
        <ion-icon name="logo-tiktok" aria-label="TikTok" size="small"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>    
</div>