<!--<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      About
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true" [scrollEvents]="true" (ionScroll)="handleScroll($any($event))">

  <div id="topImage" class="parallax-image" [ngStyle]="{backgroundImage:'url(../../assets/bgimageTop.png)'}" alt="MMWeber background image">    
  </div>

  <div id="topMiddleImage" class="parallax-image-middle">
    Events
  </div>

  <div id="topBottomImage" class="parallax-image-bottom" [ngStyle]="{backgroundImage:'url(../../assets/bgimageBottom.png)'}" alt="MMWeber background image">    
  </div>

  <div class="main">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-card>
          <!--    <img alt="Die Physik des Todes" src="./assets/physik des todes poster narrow.png" /> -->
              <ion-card-header>
                <ion-card-title>Veröffentlichungsparty</ion-card-title>
                <ion-card-subtitle>14.März, 19:30 Uhr in Ransel, Deutschland</ion-card-subtitle>
              </ion-card-header>
            
              <ion-card-content>
                Genaue Location wird noch bekannt gegeben.
              </ion-card-content>  
              <!-- <ion-button fill="clear" class="link-centered" [routerLink]="['/tabs/shop']" >
                Mehr Infos
              </ion-button> -->
          </ion-card>
      </ion-col>
      <ion-col>      
            <ion-card>
            <!--<img alt="Die Physik des Todes" src="./assets/physik des todes poster narrow.png" />-->
                <ion-card-header>
                  <ion-card-title>Leipziger Buchmesse (LBM)</ion-card-title>
                  <ion-card-subtitle>Donnerstag, 21.März – Sonntag, 24.März</ion-card-subtitle>
                </ion-card-header>
              
                <ion-card-content>
                  Ich werde am Stand des Vereins Schweizer Phantastikautoren zu finden sein. Panels werden noch bekanntgegeben.
                </ion-card-content>  
                <ion-button fill="clear" class="link-centered" href="https://www.leipziger-buchmesse.de/de/" target="_blank">
                  Mehr Infos
                </ion-button>
          </ion-card>
        </ion-col>
        <ion-col>
            <ion-card>
            <!--    <img alt="Die Physik des Todes" src="./assets/physik des todes poster narrow.png" /> -->
                <ion-card-header>
                  <ion-card-title>Fantasy Basel (FaBa)</ion-card-title>
                  <ion-card-subtitle>Donnerstag, 9.Mai – Samstag, 11.Mai</ion-card-subtitle>
                </ion-card-header>
              
                <ion-card-content>
                  Ich werde am Stand des Vereins Schweizer Phantastikautoren zu finden sein. Panels werden noch bekanntgegeben.
                </ion-card-content>  
                <ion-button fill="clear" class="link-centered" href="https://fantasybasel.ch/de" target="_blank">
                  Mehr Infos
                </ion-button>
          </ion-card>
        </ion-col>
      </ion-row>
<!--      <ion-row>
        <ion-col>
          <ion-card>
                <ion-card-header>
                  <ion-card-title>Writer's Retreat</ion-card-title>
                  <ion-card-subtitle>Eine Vampirgeschichte</ion-card-subtitle>
                </ion-card-header>
              
                <ion-card-content>
                  Wann, wo, was
                </ion-card-content>

                <ion-button fill="clear" class="link-centered" [routerLink]="['/tabs/shop']" >
                  Mehr Infos
                </ion-button>
          </ion-card>        
        </ion-col>
      </ion-row>
    -->
          <ion-row class="row-bottom">
        <ion-col>
          <ion-button fill="clear" size="small">
            Impressum
          </ion-button>
          <ion-button fill="clear" size="small">
            Datenschutz
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-title>
            © Michelle Weber 2023
          </ion-title>
          </ion-col>
        <ion-col>
          <div class="floatright">
          <ion-button fill="clear" size="small" href="https://www.instagram.com/m.m.weber_books/" target="_blank" class="col-right-justified">
            <ion-icon name="logo-instagram" aria-label="Instagram" size="small"></ion-icon>
          </ion-button>
          <ion-button fill="clear" size="small" href="https://www.facebook.com" target="_blank" class="col-right-justified">
            <ion-icon name="logo-facebook" aria-label="Facebook" size="small"></ion-icon>
          </ion-button>
          <ion-button fill="clear" size="small" href="https://www.tiktok.com" target="_blank" class="col-right-justified">
            <ion-icon name="logo-tiktok" aria-label="TikTok" size="small"></ion-icon>
          </ion-button>
        </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>
