<!--<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      About
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true" [scrollEvents]="true" (ionScroll)="handleScroll($any($event))">

  <div id="topImage" class="parallax-image" [ngStyle]="{backgroundImage:'url(../../assets/bgimageTop.png)'}" alt="MMWeber background image">    
  </div>

  <div id="topMiddleImage" class="parallax-image-middle">
    M.M.Weber
  </div>

  <div id="topBottomImage" class="parallax-image-bottom" [ngStyle]="{backgroundImage:'url(../../assets/bgimageBottom.png)'}" alt="MMWeber background image">    
  </div>

  <div class="main">
    <ion-grid>
      <ion-row>
        <ion-col>      
            <ion-card>
            <!--<img alt="Die Physik des Todes" src="./assets/physik des todes poster narrow.png" />-->
                <ion-card-header>
                  <ion-card-title>Lesung 1</ion-card-title>
                  <!-- <ion-card-subtitle>Eine Vampirgeschichte</ion-card-subtitle> -->
                </ion-card-header>
              
                <ion-card-content>
                  Wann, wo, was
                </ion-card-content>  
                <ion-button fill="clear" class="link-centered" [routerLink]="['/tabs/shop']" >
                  Mehr Infos
                </ion-button>
          </ion-card>
        </ion-col>
        <ion-col>
            <ion-card>
            <!--    <img alt="Die Physik des Todes" src="./assets/physik des todes poster narrow.png" /> -->
                <ion-card-header>
                  <ion-card-title>Lesung 2</ion-card-title>
                  <!-- <ion-card-subtitle>Eine Vampirgeschichte</ion-card-subtitle> -->
                </ion-card-header>
              
                <ion-card-content>
                  Wann, wo, was
                </ion-card-content>  
                <ion-button fill="clear" class="link-centered" [routerLink]="['/tabs/shop']" >
                  Mehr Infos
                </ion-button>
          </ion-card>
        </ion-col>
        <ion-col>
            <ion-card>
            <!--    <img alt="Die Physik des Todes" src="./assets/physik des todes poster narrow.png" /> -->
                <ion-card-header>
                  <ion-card-title>Workshop</ion-card-title>
                  <!-- <ion-card-subtitle>Eine Vampirgeschichte</ion-card-subtitle> -->
                </ion-card-header>
              
                <ion-card-content>
                  Wann, wo, was
                </ion-card-content>  
                <ion-button fill="clear" class="link-centered" [routerLink]="['/tabs/shop']" >
                  Mehr Infos
                </ion-button>
            </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <!-- <ion-col>

        </ion-col> -->
        <ion-col>
          <ion-card>
            <!--    <img alt="Die Physik des Todes" src="./assets/physik des todes poster narrow.png" /> -->
                <ion-card-header>
                  <ion-card-title>Writer's Retreat</ion-card-title>
                  <!-- <ion-card-subtitle>Eine Vampirgeschichte</ion-card-subtitle> -->
                </ion-card-header>
              
                <ion-card-content>
                  Wann, wo, was
                </ion-card-content>

                <ion-button fill="clear" class="link-centered" [routerLink]="['/tabs/shop']" >
                  Mehr Infos
                </ion-button>
          </ion-card>        
        </ion-col>
        <!-- <ion-col>
          
        </ion-col> -->
      </ion-row>
    </ion-grid>
  <div class="footer">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button fill="clear" size="small">
          Impressum
        </ion-button>
        <ion-button fill="clear" size="small">
          Datenschutz
        </ion-button>
      </ion-buttons>
      <ion-title>
        © Michelle Weber 2023
      </ion-title>
      <ion-buttons slot="end">
        <ion-button fill="clear" size="small" href="https://www.instagram.com" target="_blank">
          <ion-icon name="logo-instagram" aria-label="Instagram" size="small"></ion-icon>
        </ion-button>
        <ion-button fill="clear" size="small" href="https://www.facebook.com" target="_blank">
          <ion-icon name="logo-facebook" aria-label="Facebook" size="small"></ion-icon>
        </ion-button>
        <ion-button fill="clear" size="small" href="https://www.tiktok.com" target="_blank">
          <ion-icon name="logo-tiktok" aria-label="TikTok" size="small"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>    
  </div>

  </div>

</ion-content>
