<!--<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Contact
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Contact</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Contact page"></app-explore-container>

  <ion-card>
    <img alt="Michelle Margit Weber" src="./assets/Bilder von mir/Michelle_Weber_0107400 1.jpg" width="500"/>
        <ion-card-header>
          <ion-card-title>Das bin ich</ion-card-title>
          <!-- <ion-card-subtitle>Eine Vampirgeschichte</ion-card-subtitle> -->
        </ion-card-header>
      
        <ion-card-content>
          Hier etwas zu mir schreiben
        </ion-card-content>  
  </ion-card>

  <ion-card>
    <!--    <img alt="Die Physik des Todes" src="./assets/physik des todes poster narrow.png" /> -->
        <ion-card-header>
          <ion-card-title>So könnt ihr mich erreichen</ion-card-title>
          <!-- <ion-card-subtitle>Eine Vampirgeschichte</ion-card-subtitle> -->
        </ion-card-header>
      
        <ion-card-content>
          Kontaktformular, email-Adresse, ...
        </ion-card-content>  
  </ion-card>



  <div class="footer">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button fill="clear" class="link" size="small">
          Impressum
        </ion-button>
        <ion-button fill="clear" class="link" size="small">
          Datenschutz
        </ion-button>
      </ion-buttons>
      <ion-title class="link">
        © Michelle Weber 2023
      </ion-title>
      <ion-buttons slot="end">
        <ion-button fill="clear" class="link" size="small">
          <ion-icon name="logo-instagram" aria-label="Instagram" size="small"></ion-icon>
        </ion-button>
        <ion-button fill="clear" class="link" size="small">
          <ion-icon name="logo-facebook" aria-label="Facebook" size="small"></ion-icon>
        </ion-button>
        <ion-button fill="clear" class="link" size="small">
          <ion-icon name="logo-tiktok" aria-label="TikTok" size="small"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>    
  </div>

</ion-content>
