.desktop {
    ion-router-outlet {
        margin-top: 80px;
        margin-bottom: 0px;
    }

    .logo {
        max-height: 60px;
    }

    ion-toolbar {
        --background: url('../../assets/nightsky.png') repeat;
        //--background: var(--ion-background-color, #000);
    }

    navbar {
        --background: #fff;
    }

    .active-link {
        --color: var(--ion-text-color, #000);
        font-family: 'Gwen';
    }

}

.header-bar{
    height: 6;
    line-height: 6;
}

.my-ion-item {
    font-family: 'Gwen';
}
