.parallax-image {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 90vmin;
    z-index: 1;
    // top: -60px;
}

.parallax-image-middle {
    height: 90vmin;
    position: relative;
    top: -90vmin;
    z-index: 2;
    font-family: 'Gwen';
    font-weight: bold;
    font-size: 9vmin;
    color: #000;
    text-align: center;
    line-height: 70vmin;
    letter-spacing: 3vmin;
    color: #000;
}

.parallax-image-bottom {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 90vmin;
    position: relative;
    top: -180vmin;
    z-index: 3;
}


.main {
    background-color: var(--ion-background-color, #000);;
    width: 100%;
    position: relative;
    top: -178vmin;
    z-index: 4;
}