<!--<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="header-bar">
      Shop
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true" [scrollEvents]="true" (ionScroll)="handleScroll($any($event))">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Shop</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="topImage" class="parallax-image" [ngStyle]="{backgroundImage:'url(../../assets/bgimageTop.png)'}" alt="MMWeber background image">    
  </div>

  <div id="topMiddleImage" class="parallax-image-middle">
    Shop
  </div>

  <div id="topBottomImage" class="parallax-image-bottom" [ngStyle]="{backgroundImage:'url(../../assets/bgimageBottom.png)'}" alt="MMWeber background image">    
  </div>

  <div class="main">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-card>
            <ion-card-content>
              Die Links unten sind eine Auswahl der größten Shops, über die mein Buch bestellt werden kann. Ihr könnt es aber an noch viel mehr Orten kaufen. Auch die Buchhandlung bei euch um die Ecke kann es bestellen. Wenn ihr mich als Autorin jedoch besonders unterstützen wollt, dann kauft das Buch im Autorenwelt Shop.
              <br/><br/>
              An einem Buch verdienen eine ganze Menge Leute etwas. Druckerei, Logistik und Buchhandel bekommen ihren Teil, bevor etwas beim Autor ankommt. Die Autorenwelt ist wie eine Online-Buchhandlung, die mir als Autorin eine größere Marge bezahlt, als alle anderen Buchhandlungen. Damit zeigt ihr besondere Wertschätzung für meine Arbeit.
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="col-bookcover">
          <ion-card class="ion-card-bookcover">
            <ion-img alt="Die Physik des Todes" src="./assets/physik des todes book cover epub.jpg" title="Die Physik des Todes"/>
              <!-- <ion-card-content>
                  </ion-card-content>    
     -->
                  <!-- @Mike: Here needs to be a way to embed a PDF file with the first pages of the novel for people to read. 
                There should be the buttons above that lead to sub-tabs with the info on them. Rezensionen should be a link 
                to somebodys blog, Triggerwarnungen should go to a place on my own website, Waschzettel should also be an embedded PDF.
                if you want to good example, check this out: https://april-wynter.de/buecher/ 
                is it possible to have the text next to the book in computer mode, too? Her content is next to the cover in computer mode 
                and below it in mobile mode. -->
        </ion-card>    
        </ion-col>
        <ion-col class="col-bookinfo">
          <ion-card class="ion-card-bookinfo">
            <ion-card-header>
                <ion-card-title>Die Physik des Todes</ion-card-title>
                <ion-card-subtitle>Urban Fantasy</ion-card-subtitle>
              </ion-card-header>
              <ion-card-content>
                  <ion-button fill="clear" href="https://shop.autorenwelt.de/products/die-physik-des-todes-von-m-m-weber?variant=47538506039621" target="_blank">Autorenwelt</ion-button>
                  <ion-button fill="clear" href="https://www.thalia.de/shop/home/suggestartikel/A1070829713?sq=Die%20Physik%20des%20Todes&stype=productName" target="_blank">Thalia</ion-button>
                  <ion-button fill="clear" href="https://www.weltbild.de/artikel/ebook/die-physik-des-todes_43286876-1" target="_blank">Weltbild</ion-button>
                  <br/>
                  Am Morgen nach einer durchzechten Nacht in einem Tübinger Verbindungshaus wacht die Physikstudentin Sonja mit einer Reihe von Symptomen auf, die nur einen Schluss zulassen: Sie hat keinen einfachen Kater, sondern ist in der Nacht gestorben und zum Vampir geworden. Aber Vampire gibt es doch nicht, oder? Wie kann etwas gleichzeitig tot und lebendig sein? Wie Schrödingers Katze …
                  <br/>
                  Da ihre Vampir-Mutter verschwunden ist, muss sie selbst herausfinden, wie sie ihre nächtliche Unberechenbarkeit und ihre Überempfindlichkeit gegen Sonnenlicht in den Griff bekommt. Sie setzt ihre analytische Denkweise ein, um als magisches Wesen auf dem naturwissenschaftlichen Campus nicht aufzufallen. Doch bald bemerkt sie, dass ihre Professorin Yolanda ihre Forschungsgelder auch nicht nur mit wissenschaftlichen Fakten einwirbt.
                  <br/>
                  <br/>
                  <ion-button fill="clear" class="link-centered" href="../../assets/Die Physik des Todes Leseprobe.pdf" target="_blank">Shop</ion-button>
                  <ion-button fill="clear" class="link-centered" id="open-modal">Rezensionen</ion-button>
                  <ion-button fill="clear" class="link-centered" href="../../assets/Waschzettel Physik des Todes.pdf" target="_blank">Waschzettel</ion-button>
                  </ion-card-content>    
    
                  <!-- @Mike: Here needs to be a way to embed a PDF file with the first pages of the novel for people to read. 
                There should be the buttons above that lead to sub-tabs with the info on them. Rezensionen should be a link 
                to somebodys blog, Triggerwarnungen should go to a place on my own website, Waschzettel should also be an embedded PDF.
                if you want to good example, check this out: https://april-wynter.de/buecher/ 
                is it possible to have the text next to the book in computer mode, too? Her content is next to the cover in computer mode 
                and below it in mobile mode. -->
        </ion-card>
            </ion-col>
      </ion-row>
      <ion-row class="row-bottom">
        <ion-col>
          <ion-button fill="clear" size="small">
            Impressum
          </ion-button>
          <ion-button fill="clear" size="small">
            Datenschutz
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-title>
            © Michelle Weber 2023
          </ion-title>
          </ion-col>
        <ion-col>
          <div class="floatright">
          <ion-button fill="clear" size="small" href="https://www.instagram.com/m.m.weber_books/" target="_blank" class="col-right-justified">
            <ion-icon name="logo-instagram" aria-label="Instagram" size="small"></ion-icon>
          </ion-button>
          <ion-button fill="clear" size="small" href="https://www.facebook.com/profile.php?id=100081041916550" target="_blank" class="col-right-justified">
            <ion-icon name="logo-facebook" aria-label="Facebook" size="small"></ion-icon>
          </ion-button>
          <ion-button fill="clear" size="small" href="https://www.tiktok.com/@m.m.weber?_t=8jckgO2B9mK&_r=1" target="_blank" class="col-right-justified">
            <ion-icon name="logo-tiktok" aria-label="TikTok" size="small"></ion-icon>
          </ion-button>
        </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Reviews - Die Physik des Todes</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="confirm()" [strong]="true">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-card>
          <ion-card-header>
            <ion-card-title>fantastisches Buch!</ion-card-title>
            <ion-card-subtitle>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
               - Mike Ogden
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            Ich liebe dieses Buch. Eine neue Art von Vampirgeschichte voller Geheimnisse, Magie und Heiterkeit. Ich lache immer noch... Sonja ist fantastisch. Ich hoffe, es wird eine Fortsetzung geben!
          </ion-card-content>
        </ion-card>        
      </ion-content>
    </ng-template>
  </ion-modal>
  </ion-content>
