<!--<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="header-bar">
      Shop
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true" [scrollEvents]="true" (ionScroll)="handleScroll($any($event))">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Shop</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="topImage" class="parallax-image" [ngStyle]="{backgroundImage:'url(../../assets/bgimageTop.png)'}" alt="MMWeber background image">    
  </div>

  <div id="topMiddleImage" class="parallax-image-middle">
    M.M.Weber - Shop
  </div>

  <div id="topBottomImage" class="parallax-image-bottom" [ngStyle]="{backgroundImage:'url(../../assets/bgimageBottom.png)'}" alt="MMWeber background image">    
  </div>

  <div class="main">
    <ion-grid>
      <ion-row>
        <ion-col class="col-bookcover">
          <ion-card class="ion-card-bookcover">
            <ion-img alt="Die Physik des Todes" src="./assets/Platzhalter für Cover.png" title="Die Physik des Todes"/>
              <!-- <ion-card-content>
                  </ion-card-content>    
     -->
                  <!-- @Mike: Here needs to be a way to embed a PDF file with the first pages of the novel for people to read. 
                There should be the buttons above that lead to sub-tabs with the info on them. Rezensionen should be a link 
                to somebodys blog, Triggerwarnungen should go to a place on my own website, Waschzettel should also be an embedded PDF.
                if you want to good example, check this out: https://april-wynter.de/buecher/ 
                is it possible to have the text next to the book in computer mode, too? Her content is next to the cover in computer mode 
                and below it in mobile mode. -->
        </ion-card>    
        </ion-col>
        <ion-col class="col-bookinfo">
          <ion-card class="ion-card-bookinfo">
            <ion-card-header>
                <ion-card-title>Die Physik des Todes</ion-card-title>
                <ion-card-subtitle>Urban Fantasy</ion-card-subtitle>
              </ion-card-header>
              <ion-card-content>
                  <ion-button fill="clear">Autorenwelt</ion-button>
                  <ion-button fill="clear">Tolino</ion-button>
                  <ion-button fill="clear">Amazon</ion-button>
                  <br/>
                    Die Tübinger Physik-Studentin Sonja will genauso erfolgreich und selbstsicher werden wie ihre Professorin Yolanda. 
                  Nach einer durchzechten Nacht in einem Verbindungshaus wacht sie als Vampir wieder auf und bemerkt schnell, dass dieser 
                  Zustand nicht nur Vorteile hat. Sie setzt ihre analytische Denkweise ein, um zu verstehen, wie die Magie funktioniert, 
                  von der sie nun unweigerlich ein Teil geworden ist. Dabei stellt sie fest, dass auch Yolanda mit Magie experimentiert und 
                  das nicht gerade zum Vorteil der Studenten am Campus Morgenstelle. 
                  <br/>
                  <ion-button fill="clear" class="link-centered">zur Leseprobe</ion-button>
                  <ion-button fill="clear" class="link-centered">Rezensionen</ion-button>
                  <ion-button fill="clear" class="link-centered">Waschzettel</ion-button>
                  <ion-button fill="clear" class="link-centered">Triggerwarnungen</ion-button>
                  </ion-card-content>    
    
                  <!-- @Mike: Here needs to be a way to embed a PDF file with the first pages of the novel for people to read. 
                There should be the buttons above that lead to sub-tabs with the info on them. Rezensionen should be a link 
                to somebodys blog, Triggerwarnungen should go to a place on my own website, Waschzettel should also be an embedded PDF.
                if you want to good example, check this out: https://april-wynter.de/buecher/ 
                is it possible to have the text next to the book in computer mode, too? Her content is next to the cover in computer mode 
                and below it in mobile mode. -->
        </ion-card>
            </ion-col>
      </ion-row>
      <ion-row class="row-bottom">
        <ion-col>
          <ion-button fill="clear" size="small">
            Impressum
          </ion-button>
          <ion-button fill="clear" size="small">
            Datenschutz
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-title>
            © Michelle Weber 2023
          </ion-title>
          </ion-col>
        <ion-col>
          <div class="floatright">
          <ion-button fill="clear" size="small" href="https://www.instagram.com" target="_blank" class="col-right-justified">
            <ion-icon name="logo-instagram" aria-label="Instagram" size="small"></ion-icon>
          </ion-button>
          <ion-button fill="clear" size="small" href="https://www.facebook.com" target="_blank" class="col-right-justified">
            <ion-icon name="logo-facebook" aria-label="Facebook" size="small"></ion-icon>
          </ion-button>
          <ion-button fill="clear" size="small" href="https://www.tiktok.com" target="_blank" class="col-right-justified">
            <ion-icon name="logo-tiktok" aria-label="TikTok" size="small"></ion-icon>
          </ion-button>
        </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  </ion-content>
