<!--<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      About
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true" [scrollEvents]="true" (ionScroll)="handleScroll($any($event))">

  <div id="topImage" class="parallax-image" [ngStyle]="{backgroundImage:'url(../../assets/bgimageTop.png)'}" alt="MMWeber background image">    
  </div>

  <div id="topMiddleImage" class="parallax-image-middle">
    Blog
  </div>

  <div id="topBottomImage" class="parallax-image-bottom" [ngStyle]="{backgroundImage:'url(../../assets/bgimageBottom.png)'}" alt="MMWeber background image">    
  </div>

    <iframe class="main" src="https://michisbrainfarts.blogspot.com" style="width:100%; height:100%;"></iframe>


</ion-content>
