/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

.desktop-wrapper {
    ion-toolbar {
        text-align: center;
    }

    ion-header {
        &.header-md:after {
            background: none;
        }
    }
}

@font-face {
    font-family: 'Gwen';
    src: url('./assets/fonts/Gwen-Regular.woff2') format('woff2'), 
    url('./assets/fonts/Gwen-Regular.woff') format('woff') 
    ;
}

$font-family-ios-base: 'Gwen';
$font-family-md-base: 'Gwen';
$font-family-wp-base: 'Gwen';

ion-title {
    font-family: 'Gwen';
    display: flex;
    flex-direction: row;
    align-items: center;
    letter-spacing: .25vmin;
}

ion-card-title {
    font-family: 'Gwen';
    font-size: 300%;
    letter-spacing: .25vmin;
    align-self: center;
}

ion-card-subtitle {
    font-family: 'Gwen';
    font-size: 200%;
    letter-spacing: .25vmin;
    align-self: center;
}

.card-img {
    width:50%;
    display:block;
    margin: 0 auto;
}

.card-content {
    font-family: 'Gwen';
    font-size: 200%;
    letter-spacing: .25vmin;
    align-self: center;
}

ion-button {
    font-family: 'Gwen';
    letter-spacing: .25vmin;
}

.loaderClass {
    font-family: 'Gwen';
    --height: 90vmin;
    --min-width: 90vmin;
    --background:#000;
    --spinner-color:#121212;
    letter-spacing: .25vmin;
}

.footer {
    width: 100%;
    color: var(--ion-text-color, #ffc409);
    font-family: 'Gwen';
    font-weight: bold;
    font-size: small;
    background: #000;
    height: 36px;
    line-height: 36px;
    text-align: center;
    // position: fixed;
    bottom: 0px;
    letter-spacing: .25vmin;
}

.footerText {
    color: var(--ion-text-color, #ffc409);
    font-family: 'Gwen';
    font-weight: light;
    font-size: small;
    letter-spacing: .25vmin;
}
