
<ion-content [fullscreen]="true" [scrollEvents]="true" (ionScroll)="handleScroll($any($event))">

  <div id="topImage" class="parallax-image" [ngStyle]="{backgroundImage:'url(../../assets/bgimageTop.png)'}" alt="MMWeber background image">    
  </div>

  <div id="topMiddleImage" class="parallax-image-middle">
    M.M.Weber
  </div>

  <div id="topBottomImage" class="parallax-image-bottom" [ngStyle]="{backgroundImage:'url(../../assets/bgimageBottom.png)'}" alt="MMWeber background image">    
  </div>

  <div class="main">
<ion-grid>
  <ion-row>
    <ion-col>
      <ion-card>
        <!--    <img alt="Die Physik des Todes" src="./assets/physik des todes poster narrow.png" /> -->
            <ion-card-header>
              <ion-card-title>Willkommen in meiner Welt</ion-card-title>
              <!-- <ion-card-subtitle>Eine Vampirgeschichte</ion-card-subtitle> -->
            </ion-card-header>
          
            <ion-card-content>
              Wer mich kennt, weiß, dass ich manchmal Dinge in der realen Welt vergesse (meinen Schlüssel, wo ich gerade bin etc.). 
              Ich lebe in meinen Gedanken wo anders, manchmal lächle ich unvermittelt. Diese Seite ist für alle, die wissen wollen, was in solchen 
              Momenten in meinem Kopf vorgeht. ... oder solche, die einfach nur unterhalten werden wollen.
            </ion-card-content>  
            
            <!-- @Mike: The Font of the Card should be bigger-->
  
      </ion-card>

      <ion-card>
        <!--    <img alt="Die Physik des Todes" src="./assets/physik des todes poster narrow.png" /> -->
            <ion-card-header>
              <ion-img alt="Die Physik des Todes" src="./assets/physik des todes book cover epub.jpg" title="Die Physik des Todes"/>
              <ion-card-title>Ab 14 March 2024</ion-card-title>
              <ion-card-subtitle>Eine Vampirgeschichte</ion-card-subtitle>
            </ion-card-header>
          
            <ion-card-content>
              Am Morgen nach einer durchzechten Nacht in einem Tübinger Verbindungshaus wacht die Physikstudentin Sonja mit einer Reihe von Symptomen auf, die nur einen Schluss zulassen: Sie hat keinen einfachen Kater, sondern ist in der Nacht gestorben und zum Vampir geworden. Aber Vampire gibt es doch nicht, oder? Wie kann etwas gleichzeitig tot und lebendig sein? Wie Schrödingers Katze …
              <br/>
              Da ihre Vampir-Mutter verschwunden ist, muss sie selbst herausfinden, wie sie ihre nächtliche Unberechenbarkeit und ihre Überempfindlichkeit gegen Sonnenlicht in den Griff bekommt. Sie setzt ihre analytische Denkweise ein, um als magisches Wesen auf dem naturwissenschaftlichen Campus nicht aufzufallen. Doch bald bemerkt sie, dass ihre Professorin Yolanda ihre Forschungsgelder auch nicht nur mit wissenschaftlichen Fakten einwirbt.
              <ion-button fill="clear" class="link-centered" [routerLink]="['/tabs/shop']">Shop</ion-button>
            </ion-card-content>    
            <!--    <ion-button fill="clear">More</ion-button>
            <ion-button fill="clear">Kindle Store</ion-button>
        -->
      </ion-card>
    
      </ion-col>
  </ion-row>  
  <ion-row>
<ion-col>
  <div class="tile">
    <ion-button fill="clear" class="link-centered" [routerLink]="['/tabs/shop']" >
      Shop
    </ion-button>
  <ion-img  alt="Shop MMWeber" src="../../assets/shopImg.png" title="Shop MMWeber" [routerLink]="['/tabs/shop']"/>
  </div> 
</ion-col>
<ion-col>
  <div class="tile">
    <ion-button fill="clear" class="link-centered" [routerLink]="['/tabs/events']" >
    Events
  </ion-button>  
  <ion-img alt="Events MMWeber" src="../../assets/eventsImg.png" title="Events MMWeber" [routerLink]="['/tabs/events']" />
  </div> 
</ion-col>
<ion-col>
  <div class="tile">
  <ion-button fill="clear" class="link-centered"  [routerLink]="['/tabs/blog']" >
    Blog
  </ion-button>
  <ion-img alt="Blog MMWeber" src="../../assets/blogImg.png" title="Blog MMWeber"  [routerLink]="['/tabs/blog']" />
  </div>
</ion-col>

  </ion-row>
  <ion-row>
<ion-col>
  <div class="tile">
    <ion-button fill="clear" class="link-centered" [routerLink]="['/tabs/about']">
    About Me
  </ion-button>
  </div>
</ion-col>
  </ion-row>
</ion-grid>
</div>

</ion-content>
  